/* Title:  Bootstrap customizations     */
/* Author: BACOU, Melanie               */
/* Date:   2017.04.04                   */

.book .book-summary {
  background-color: rgba(242, 242, 242, 0.9);
}

.book.font-family-1, .book .book-summary, h4.author, h4.date {
  font-family: Lato, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .book .book-header, ul.summary > li:first-child {
  font-family: Raleway, "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h5, h6 {
  font-style: italic;
}

.level1 h1 {
  border-bottom: 1px solid;
}

.level1 h1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}

th {
  font-weight: normal;
}

.book .book-body .page-wrapper .page-inner section.normal b,
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

.book-summary ul ul {
  font-size: 13px;
  line-height: .8em;
}

.book-summary li b {
  font-size: .9em;
  font-weight: 600;
}

.book .book-summary ul.summary li.divider {
  margin-top: 4px;
}

ul.summary > li:first-child {
  font-size: 18px;
  font-weight: normal;
  margin-top: 4px;
}

ul.summary > li.chapter {
  border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  color: #333;
  border-left: 4px solid #FFF3B8;
  background-color: #FFFCED;
}

.marginnote {
   word-wrap: break-word;
 }

.book .book-body .page-wrapper .page-inner section.normal pre  {
  width: auto;
  word-wrap: break-word;
}

.book .book-body .caption, .book .book-body caption {
  color: #777;
  font-size: .9em;
}

caption span {
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal table {
  font-size: .9em;
}

.book .book-body .page-wrapper .page-inner section.normal table td,
.book .book-body .page-wrapper .page-inner section.normal table th {
  padding: 0 2px;
  vertical-align: bottom;
}

.book .book-body .page-wrapper .page-inner section.normal table tbody th {
  font-weight: normal;
}

.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
  background-color: transparent;
}

.book .book-body .page-wrapper .page-inner section.normal table .center .left {
  text-align: left;
}

.book .book-body .page-wrapper .page-inner section.normal table thead tr,
.book .book-body .page-wrapper .page-inner section.normal table td,
.book .book-body .page-wrapper .page-inner section.normal table th {
  border: none;
}

.book .book-body .page-wrapper .page-inner section.normal table tr {
    border-top: 1px dotted #ddd;
}

.book .book-body .page-wrapper .page-inner section.normal table thead tr:first-child {
  border-top: 1px solid #ddd;
}

.book .book-body .page-wrapper .page-inner section.normal table thead tr:last-child,
.book .book-body .page-wrapper .page-inner section.normal table tbody tr:last-child {
  border-bottom: 2px solid #ddd;
}

.book .book-body .page-wrapper .page-inner section.normal table tbody th:nth-child(2),
.book .book-body .page-wrapper .page-inner section.normal table thead tr:last-child th:first-child {
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

.book .book-body .page-wrapper .page-inner section.normal table tbody th:nth-child(2),
.book .book-body .page-wrapper .page-inner section.normal table thead tr:last-child th: {
  font-weight: normal;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner section.normal td em {
  color: #777;
}

.references p {
  text-indent: -2em;
  margin-left: 2em;
}

div.rhandsontable {
  max-width: 100%;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 9pt;
}
